<div class="col">
    <div class="card h-100">

                            {% if car.image %}
                            <img src="{{ car.image.url }}" class="card-img-top"
                                 alt="Skyscrapers"/>
                            {% else %}
                            <img src="https://demofree.sirv.com/nope-not-here.jpg" class="card-img-top"
                                 alt="Skyscrapers"/>
                            {% endif %}

                            <div class="card-body">

                                <a href="{% url 'by_car' car.pk %}">
                                <h5 class="card-title">{{ car.title }}</h5>
                                </a>

                                <p class="card-text">
                                    {% if 'car' in request.path %}
                                    {{ car.description|linebreaks }}
                                    {% else %}
                                    {{ car.description|truncatewords:10 }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ car.created }}</small>
                            </div>
                        </div>
</div>