{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}


{% block content %}
    <div class="col-3">
        {% include 'autosalon/components/_list_group.html' %}
    </div>
    <div class="col-8">
        {% include 'autosalon/components/_card.html' %}


    </div>

{% endblock content %}

{% block comment %}
<form action="{% url 'save_comment' car.pk %}" method="post" style="margin-bottom: 20px; text-align: center;">
    {% csrf_token %}

    {{  form }}

    <button type="submit">Save</button>

</form>
{% endblock comment %}


